.slide__content {
    height: 500px;
    background-size: cover!important;
}
.slide__content::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}
span.d-slide-bottom, .d-slide-top {
    position: absolute;
    display: inline-block; 
    left: 50px;
    font-weight: 900;
    font-size: 25px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.4);
    line-height: 0.9;
}